
<div class="container-fluid">
  <h3> User Info </h3>
  <div class="jumbotron card">
    <div class="container">
   <img class="img-circle" src={{u_details.avatar_url}} height="42" width="42"> &nbsp; &nbsp;
  <b> {{u_details.name}} </b>
   <table class="prof_table">
     <tr>
       <td class="details"><p class="user_detail"><b> {{userName}} </b></p></td>
       <td><p class="clr_grey"> {{ u_details.login}} </p>
       <div *ngIf="!u_details.login">
        <p class="clr_grey"> {{notAvail}} </p>
        </div></td>
     </tr>
      <tr>
       <td><p class="user_detail"><b> {{location}} </b></p></td>
       <td><p class="clr_grey"> {{u_details.location}} </p>
        <div *ngIf="!u_details.location">
        <p class="clr_grey"> {{notAvail}} </p>
        </div></td>
     </tr>
      <tr>
       <td><p class="user_detail"><b> {{company}} </b></p></td>
       <td><p class="clr_grey"> {{u_details.company}} </p>
        <div *ngIf="!u_details.company">
        <p class="clr_grey"> {{notAvail}} </p>
        </div></td>
     </tr>
      <tr>
       <td><p class="user_detail"><b> {{blog}} </b></p></td>
       <td><p class="clr_grey"> {{u_details.blog}} </p>
        <div *ngIf="!u_details.blog">
        <p class="clr_grey"> {{notAvail}} </p>
        </div></td>
     </tr>
   </table>
    <table class="prof_table">
      <tr>
        <td><p class="bottom_line1"> {{u_details.public_repos}} Public Repos</p></td>
        <td><p class="bottom_line2"> {{u_details.followers}} Followers</p></td>
        <td><p class="bottom_line3"> {{u_details.following}} Following</p></td>
      </tr>
   </table>
     <a class="btn" [routerLink]="['/Userrepo',u_details.login]"> View Repo </a> 
  </div>
  </div>
</div>